body {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    color: mediumseagreen;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: lighter;
}

section h2 {
    font-size: 30px;
    font-weight: bold;
    background-color: gold;
}

img {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

table {
    width: 75%;
	border-collapse: collapse;
	margin-left: 50px;
}

table th {
	text-align: left
}

table th, td {
	border-bottom: 1px solid rgb(221, 221, 221);
	padding: 15px;
}

table tfoot tr {
	text-align: center;
}

#title {
    margin-bottom: 5px;
}

#subtitle {
    margin-top: 0px;
}

.grau {
	background-color: rgb(242, 242, 242);
}